<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Update user</h1>

<form th:method="POST" th:action="@{/admin/update(id=${user.id})}" th:object="${user}">
    <div>
        <label for="name">Enter username: </label>
        <input type="text" th:field="*{username}" id="name">
    </div>
    <br>
    <div>
        <label for="surname">Enter password: </label>
        <input type="text" th:field="*{password}" id="surname">
    </div>
    <br>
    <div>
        <label for="age">Enter email: </label>
        <input type="text" th:field="*{email}" id="age">
    </div>
    <br>
    <input type="submit" value="Update"/>
    <br> <br>
    <a href="/logout" class="button">Logout</a>
</form>

</body>
</html>