<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin page</title>
    <style>
        .sidebar {
            position: fixed;
            top: 60px;
            bottom: 0;
            left: 0;
            width: 200px;
            background-color: white;
            padding: 10px;
        }

        body {
            background-color: #f8f9fa;
            margin-left: 200px;
            margin-right: 50px;
            margin-top: 60px;
        }

        .container-fluid {
            background-color: white;
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px;
        }

        .table thead th {
            border-top: 2px solid #d3d3d3;
        }

        .btn-secondary {
            background-color: lightcoral;
            color: black;
        }

        .btn-secondary.active {
            background-color: white;
            color: blue;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            width: 80%;
        }
    </style>
</head>
<body>
<!-- Fixed top navigation bar -->
<div class="fixed-top bg-dark text-white d-flex justify-content-between align-items-center"
     style="font-size: 24px; padding: 10px;">
    <!-- Левый блок: email и роли -->
    <div class="d-flex align-items-center">
        <span th:text="${currentUser.email} + ' with roles : '"></span>
        <span th:each="role, iterStat : ${currentUser.roles}">
            <span th:text="${#strings.substringAfter(role.name, 'ROLE_')}"></span>
            <span th:if="${!iterStat.last}">, </span>
        </span>
    </div>

    <!-- Правый блок: кнопка Logout -->
    <form th:action="@{/logout}" th:method="POST" class="mb-0">
        <button type="submit" class="btn btn-link text-white">Logout</button>
    </form>
</div>

<!-- Sidebar navigation -->
<div class="sidebar">
    <ul class="list-unstyled">
        <div class="btn-group-vertical" role="group" aria-label="Basic example" style="width: 100%;">
            <a href="/admin/user" class="btn btn-light" role="button">User</a>
            <a href="/admin/" class="btn btn-primary active" role="button"
               style="background-color: #007BFF; border-color: #007BFF;">Admin</a>
        </div>
    </ul>
</div>

<!-- Main content -->
<div class="content">
    <h2 style="margin-left: 20px; margin-top: 80px">Admin panel</h2>
    <div class="btn-group btn-group-sm" role="group" style="margin-left: 20px">
        <a href="/admin/user" class="btn btn-secondary active"
           style="background-color: #007BFF; color: white; border: none;">Users table</a>
        <a href="/admin/new" class="btn btn-secondary" style="background-color: #f8f9fa; color: black; border: none;">New
            User</a>
    </div>
    <div class="container-fluid">
        <h5>All users</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                            data-bs-target="#editUserModal"
                            th:data-id="${user.id}"
                            th:data-username="${user.username}"
                            th:data-lastName="${user.lastName}"
                            th:data-age="${user.age}"
                            th:data-email="${user.email}"
                            onclick="setUserData(this)">Edit
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteUserModal"
                            th:data-id="${user.id}"
                            th:data-username="${user.username}"
                            th:data-lastName="${user.lastName}"
                            th:data-age="${user.age}"
                            th:data-email="${user.email}"
                            onclick="setDeleteUserId(this)">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for editing user -->
<div class="modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserLabel">Update User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/admin/update}" method="post">
                <div class="modal-body">
                    <input type="hidden" id="editUserId" name="id">
                    <div class="mb-3">
                        <label for="editUsername" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="editUsername" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" name="lastName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editAge" class="form-label">Age</label>
                        <input type="number" class="form-control" id="editAge" name="age" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="roles">Role</label>
                        <select name="role" class="form-control form-control-sm" multiple id="roles"
                                style="height: 60px;">
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for deleting user -->
<div class="modal" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/admin/delete}" method="get">
                <div class="modal-body">
                    <input type="hidden" id="deleteUserId" name="id">
                    <div class="mb-3">
                        <label for="deleteUsername" class="form-label">First name</label>
                        <input type="text" class="form-control" id="deleteUsername" name="username" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteLastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="deleteLastName" name="lastName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteAge" class="form-label">Age</label>
                        <input type="number" class="form-control" id="deleteAge" name="age" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="deleteEmail" name="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="roles">Role</label>
                        <select name="role" class="form-control form-control-sm" multiple id="deleteRoles"
                                style="height: 60px;" readonly>
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function setUserData(element) {
        document.getElementById('editUserId').value = element.getAttribute('data-id');
        document.getElementById('editUsername').value = element.getAttribute('data-username');
        document.getElementById('editLastName').value = element.getAttribute('data-lastName');
        document.getElementById('editAge').value = element.getAttribute('data-age');
        document.getElementById('editEmail').value = element.getAttribute('data-email');
    }

    function setDeleteUserId(element) {
        document.getElementById('deleteUserId').value = element.getAttribute('data-id');
        document.getElementById('deleteUsername').value = element.getAttribute('data-username');
        document.getElementById('deleteLastName').value = element.getAttribute('data-lastName');
        document.getElementById('deleteAge').value = element.getAttribute('data-age');
        document.getElementById('deleteEmail').value = element.getAttribute('data-email');
    }
</script>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>